D365_PROFILE=customerA-online-dev
D365_CONNECTIONS_FILE=./config/d365-connections.json

# Online DEV
D365_CUSTOMERA_ONLINE_DEV_URL=https://org-dev.crm.dynamics.com
D365_CUSTOMERA_ONLINE_DEV_TENANT_ID=
D365_CUSTOMERA_ONLINE_DEV_CLIENT_ID=
D365_CUSTOMERA_ONLINE_DEV_CLIENT_SECRET=

# On-Prem AD
D365_CUSTOMERA_OP_ORG_SERVICE_URL=http://crmserver/orgname/XRMServices/2011/Organization.svc
D365_CUSTOMERA_OP_DOMAIN=
D365_CUSTOMERA_OP_USERNAME=
D365_CUSTOMERA_OP_PASSWORD=

# On-Prem ADFS Claims
D365_CUSTOMERA_OP_CLAIMS_ORG_SERVICE_URL=https://crm.contoso.local/ORG/XRMServices/2011/Organization.svc
D365_CUSTOMERA_OP_ADFS_URL=https://adfs.contoso.local/adfs/services/trust/13/usernamemixed
D365_CUSTOMERA_OP_ADFS_USERNAME=
D365_CUSTOMERA_OP_ADFS_PASSWORD=

# On-Prem IFD
D365_CUSTOMERA_OP_IFD_WEBAPI_URL=https://org.contoso.com/api/data/v9.2
D365_CUSTOMERA_OP_IFD_ADFS_AUTHORITY=https://adfs.contoso.com/adfs
D365_CUSTOMERA_OP_IFD_CLIENT_ID=
D365_CUSTOMERA_OP_IFD_REDIRECT_URI=app://d365-mcp
D365_CUSTOMERA_OP_IFD_USERNAME=
D365_CUSTOMERA_OP_IFD_PASSWORD=
